<header class="bg-gray-950/60 fixed w-full z-50 backdrop-blur-md {% if page.url == "/" %}animate-slide-down{% endif %}">
  <!-- Desktop -->
  <nav class="mx-auto flex max-w-7xl items-center justify-between py-4 px-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="/" class="flex gap-3">
        <img src="/assets/images/logo.png" alt="AKRO Solutions Logo" class="h-6 sm:h-9">
        <span class="font-bold text-1xl text-gray-50 mt-auto">SOLUTIONS</span>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="items-center justify-center text-gray-300 text-2xl cursor-pointer" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-8 font-semibold text-gray-300">
      <a href="/">Home</a>
      <a href="/#about">About</a>
      <div class="relative group" style="position:relative;">
        <a href="/services">Services</a>
        <div class="absolute invisible opacity-0 group-hover:visible group-hover:opacity-100 hover:visible hover:opacity-100 transition-all duration-200 bg-gray-800 text-gray-300 rounded-md py-2 mt-1 shadow-lg z-20 flex flex-col min-w-[320px] w-max" style="top:100%;left:0;">
          <a href="/services/bim-model-management" class="block px-4 py-2 hover:bg-gray-700">BIM Model Management</a>
          <a href="/services/mep-coordination" class="block px-4 py-2 hover:bg-gray-700">MEP Coordination</a>
          <a href="/services/isometric-spooling-drawings" class="block px-4 py-2 hover:bg-gray-700">Isometric & Spooling Drawings</a>
          <a href="/services/bim-model-audit" class="block px-4 py-2 hover:bg-gray-700">BIM Model Audit</a>
          <a href="/services/point-cloud-survey" class="block px-4 py-2 hover:bg-gray-700">Point Cloud Survey</a>
          <a href="/services/building-services-coordination" class="block px-4 py-2 hover:bg-gray-700">Building Services Coordination</a>
          <a href="/services/model-data-input-services" class="block px-4 py-2 hover:bg-gray-700">Model Data Input Services</a>
          <a href="/services/detailed-plant-room-design" class="block px-4 py-2 hover:bg-gray-700">Detailed Plant Room Design</a>
          <a href="/services/cat-a-cat-b-fit-out-design" class="block px-4 py-2 hover:bg-gray-700">CAT A & CAT B Fit Out Design</a>
          <a href="/services/mep-modular-design" class="block px-4 py-2 hover:bg-gray-700">MEP Modular Design</a>
          <a href="/services/bim-family-creation" class="block px-4 py-2 hover:bg-gray-700">BIM Family Creation</a>
        </div>
      </div>
      <a href="/bim-packages">BIM Packages</a>
      <a href="/projects">Projects</a>
      <a href="https://akrobim.shop">BIM Library</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/contact" class="px-4 py-1.5 rounded-2xl bg-gray-300 text-gray-900 font-semibold">Contact Us <i class="ms-1 fa-regular fa-address-card"></i>
      </a>
    </div>
  </nav>

  <!-- Mobile -->
  <nav class="px-6 bg-gray-950/60 max-h-0 overflow-hidden transition-all duration-500 ease-in-out" id="mobileMenu">
    <div class="p-4 flex flex-col font-semibold text-gray-300 gap-4">
      <a href="/" class="transition-all duration-300 ease-out hover:text-akro-1">Home</a>
      {% if page.url == "/" %}
        <a href="#about" class="transition-all duration-300 ease-out hover:text-akro-1">About</a>
      {% endif %}
      <a href="/services" class="transition-all duration-300 ease-out hover:text-akro-1">Services</a>
      <a href="/bim-packages" class="transition-all duration-300 ease-out hover:text-akro-1">BIM Packages</a>
      <a href="/projects" class="transition-all duration-300 ease-out hover:text-akro-1">Projects</a>
      <a href="https://akrobim.shop" class="transition-all duration-300 ease-out hover:text-akro-1">BIM Library</a>
      <a href="/contact" class="px-4 py-1.5 rounded-xl bg-gray-300 text-gray-900 font-semibold text-center transition-all duration-300 ease-out hover:bg-gray-200">Contact Us <i class="ms-1 fa-regular fa-address-card"></i>
      </a>
    </div>
  </nav>
</header>