<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}</title>
    <!-- CEO Meta Tags -->
    <meta name="title" content="{{ metaTitle }}">
    <meta name="description" content="{{ metaDescription }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/images/favicons/android-chrome-512x512.png">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <!-- Tailwind CSS -->
    <link href="/assets/css/output.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/c1b39fa0dc.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-950">
    {% include "components/header.njk" %}
    {{ content | safe }}
    {% include "components/footer.njk" %}
    <!-- Custom Glow Cursor -->
    <div id="cursor-glow" class="fixed left-0 top-0 pointer-events-none rounded-full"></div>
    <!-- Glow Cursor JS -->
    <script src="/assets/js/glow-cursor.js" type="module"></script>
    <script src="/assets/js/mobile-menu.js"></script>
    <script src="/assets/js/gallery.js"></script>
  </body>
</html>